body {
  background-image: url(https://wallpaperaccess.com/full/3520511.png);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 300%;
}

  hr {
    border-style: line;
    width: 1000px;
    border-width: 10px;
    border-color:#939393;
  }
h3 {
  color:#c0add0;
  text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
}
h1{
  color:#ffffff;
  text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
    text-align: center;
    
}
h2{
  color:#c0add0;
}
p{
  color: #ffffff;
  text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0)
}
ul{
  color:#ffffff
}
ol{
  color:#000000
}
table{
  color:#ffffff;
  text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
}
.label{
  color:#ffffff;
  text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
}
.middle {
  text-shadow:
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    1px 1px 0 rgb(0, 0, 0);
  background-color: rgb(53, 115, 139);
    opacity: .8;
}
.highlight {
  background-color: #8b3939;
}
p{
  text-align: center;

}
.skills {
  background-color: rgb(43, 43, 189);
  opacity: .9;
}
.Education {
  background-color: rgb(43, 43, 189);
  opacity: .9;
}
label {
  text-shadow:
  -1px -1px 0 rgb(255, 255, 255),
  1px -1px 0 rgb(255, 255, 255),
  -1px 1px 0 rgb(255, 255, 255),
  1px 1px 0 rgb(255, 255, 255)
}